html, body{
    height: 100%;
}
p{
    margin-left: 15%;
    margin-top: 5%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: #A27035;
}
.btn{
   background-color: #3B4E4C;
   border: none;
   color: #DCDCDD;
   font-size: 16px;
   border-radius:  20px;
   margin-top: 10%;
   width: 200px;
   height: 55px;
}
.cleanPic{
    border: none;
    border-radius: 50%;
    margin-left: 10%;
}
.picBtn{
    margin-bottom: 20px;
}
.btnSelection{
    margin: 5%;
    border: solid 4px black;
    padding: 3%;
}


/* Contact page css */
#contactTitle{
    margin-top: 10%;    
}
h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: #3B4E4C;
}
h2 span {
    background-color: #fff;
    padding: 0 10px;
    color: #3B4E4C;
}
form{
    border: solid 5px grey;
    margin-left: 24%;
    margin-top: 5%;
    width: 50%;
}
.formInput{
    margin-left: 25%;
    margin-top: 2%;
}
#name{
    margin-top: 5%;
}
.sub{
    background-color: #3B4E4C;
    border: none;
    color: #DCDCDD;
    font-size: 16px;
    border-radius : 20px;
    width: 200px;
    height: 50px;
    margin: 5% 0% 5% 35%;
    
}

/*Organizing/Cleaning page CSS*/
#cleanCont{
    margin-top: 5%;
}
#cleanTitle{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 5%;
}
#infoContainer{
    display:flex;
    flex-direction: row-reverse;
    clear: both;
}
.pictureBlock {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sidePic{
     
    height: 100%;
    width: 50%
}
.infoSec{
    /* float: left; */
    width: 50%;    
}
/* InfoSection  */
.text{
    width: 65%;
    margin: 5% 10% 5% 10%;
}
.textTitle {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 15% 0 20px;
    color: #3B4E4C;
}

.textTitle span {
    background-color: #fff;
    padding: 0 10px;
    color: #3B4E4C;
}
.oneSec{
    margin-top: 15%;
}
h4{
    margin-left: 3%;
}
/* Container for buttons in repop of org and clean page */
#btnContainer{
    border-top: solid 3px #3B4E4C;
    border-bottom: solid 3px rgb(25, 157, 144);
    margin-top: 20px;
    background-color: #DCDCDD;
}
/* Footer */
.page{
    min-height: 100%;
    height: auto;
    margin: 0 auto -35px;
    padding: 0 0 60px;

}
.page-footer{
  display: flex;  
  background-color: #3B4E4C;
  width: 100%;
  height: 50px;
}
.copyright{
    font-size: 10px;
    color: #DCDCDD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#connect{
    justify-content: flex-end;
}


.navigation {
    height: 100px;
    background: #262626;
}

.brand {
    margin-top: 30px;
    position: relative;
    padding-left: 20px;
    float: left;
    line-height: 70px;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    margin-top: 15px;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}


/* Mobile navigation */

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

